body {
	text-align: center;
	background: url("../img/ping-pong.jpg") no-repeat center fixed;
	background-size: cover;
}

.jumbotron {
	width: 100%;
	opacity: 0.9;
	background-color: white;
	border: 1px solid black;
}

#frame {
	background-color: white;
	border-color: #ffffff;
	border: 1px solid black;
	height: 200;
	width: 50%;
	opacity: 0.9;
	font-weight: bold;
}

ul {
	padding-left: 0px;
  list-style-type: none;
}